<template>
  <v-container>
    <v-form>
      <v-container
        fluid
        class="d-flex flex-column"
      >
        <v-text-field
          v-model="password"
          :rules="passwordRules"
          name="password"
          :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
          :type="show ? 'text' : 'password'"
          @click:append="onShowClick"
        >

        </v-text-field>
      </v-container>
    </v-form>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component, Provide } from 'vue-property-decorator';
import { maxLength, minLength, isEmail } from '@/core/validators';

@Component({
  name: 'login-form'
})
export default class LoginForm extends Vue {
  @Provide() readonly password: string = '';
  
  private show: boolean = true;
  private readonly passwordRules: Array<(v: string) => boolean | string> = [
    maxLength(40, 'Password'),
    minLength(8, 'Password'),
    
  ];
  private readonly emailRules: Array<(v: string) => boolean | string> = [
    maxLength(40, 'Email'),
    isEmail()
  ];

  onShowClick (): void {
    this.show = !this.show;
  }
}
</script>
