<template>
  <v-app>
    <v-app-bar
      fixed
      dense
      color="primary"
    >
      <v-btn
        text
        rounded
      >
        <v-icon
          left
          large
          class="indigo--text text--lighten-5"
        >
          mdi-handshake
        </v-icon>
        <v-toolbar-title class="ml-1 indigo--text text--lighten-5">
          Deal
        </v-toolbar-title>
      </v-btn>

      <v-spacer />

      <v-btn
        text
        rounded
        link
        to="login"
      >
        <v-icon
          left
          size="170%"
          class="indigo--text text--lighten-5"
        >
          mdi-account
        </v-icon>
        <span class="text-subtitle-1 font-weight-bold indigo--text text--lighten-5">Sign In</span>
      </v-btn>
      <span class="ml-1 mr-1 mb-1 text-h5 indigo--text text--lighten-5">|</span>
      <v-btn
        text
        rounded
      >
        <span class="text-subtitle-1 font-weight-bold indigo--text text--lighten-5">Sign Up</span>
      </v-btn>
    </v-app-bar>
    <v-main>
      <nuxt />
    </v-main>
  </v-app>
</template>
