<template>
  <v-container
    fluid
    class="fill-height indigo lighten-4"
  >
    <v-row>
      <v-col
        cols="10"
        offset="1"
        sm="8"
        offset-sm="2"
        md="6"
        offset-md="3"
        lg="6"
        offset-lg="3"
        xl="4"
        offset-xl="4"
      >
        <v-icon
          size="600%"
          class="icon indigo--text text--lighten-2 text-center"
        >
          mdi-handshake
        </v-icon>
      </v-col>
    </v-row>
    <v-row>
      <v-col
        cols="10"
        offset="1"
        sm="8"
        offset-sm="2"
        md="6"
        offset-md="3"
        lg="6"
        offset-lg="3"
        xl="4"
        offset-xl="4"
      >
        <v-card>
          <app-login-form />
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue'
import { Component } from 'vue-property-decorator'

import AppLoginForm from '@/components/login-form.vue'

@Component({
  name: 'Login',
  components: {
    AppLoginForm
  }
})
export default class Login extends Vue {
}
</script>

<style lang="scss" scoped>
.icon {
  width: 100%;
  transform: rotate(45deg);
}
</style>
